<div class="w-[22%] max-h-[45rem] overflow-hidden rounded-lg">
  <div class="">{{ "product-1" | placeholder_svg_tag: "w-full h-[30rem]" }}</div>
  <div class="flex flex-col">
    <span class="text-xl ">Vendor</span>
    <span class="text-xl ">Title</span>
    <span class="text-xl ">{{ "999.00" | money }}</span>
  </div>
</div>