<section>
  <div class="text-6xl pt-25 pb-10 header-font text-center uppercase">
    <h1>{{ section.settings.title }}</h1>
  </div>
  <div class="flex flex-wrap gap-y-10 justify-between w-[90vw] h-auto mx-auto mt-10">
    {% for collection in collections %}
      {% if collection.all_products_count > 0 %}
        {% render "collection-card"
          , collection: collection %}
      {% endif %}

    {% endfor %}
  </div>

</section>

{% schema %}
  {
    "name": "List-collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "all collections",
        "label": "Collections title"
      }
    ]
  }
{% endschema %}